# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**

Some of the popular languages that Data Scientists use are:

1. python 
2. R
3. Julia

Some of the popular languages that Data Scientists use are:

* python 
* R
* Julia

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. SciPy

|Data Science Tools|
|------------------|
|Apache hadoop|
|SAS|
|Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
7+5

12

In [5]:
4*8

32

In [7]:
# This a simple arithmetic expression to mutiply then add integers 
(3*4)+5

17

In [10]:
#  This will convert 200 minutes to hours by diving by 60
200//60

3

## Author
   divyansh